@use './variables' as var;
@use './breakpoints' as md;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.4;
  color: var.$darkText;
  font-family: var.$fontNotoSans;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}
